<div class= "row">
  <h3> Current Nutrition Plans </h3><br>
    <div class= "col-md-8">
      <table class= "table table-bordered table-hover">
        <tbody>
        <thead>
          <th> Date </th>
          <th> Title </th>
          <th> Options </th>
        </thead>
          <% if current_user %>
          <% nutrition_plans.each do |nutrition_plan| %>
            <tr>
             <td><%= nutrition_plan.day %></td>
             <td><%= link_to nutrition_plan.title, [@user, nutrition_plan] %></td>
             <td>
              <%= link_to "Edit", edit_user_nutrition_plan_path(@user, nutrition_plan) ,class: 'btn btn-success'%>
              <%= link_to "Delete", user_nutrition_plan_path(@user, nutrition_plan), method: :delete, data: {confirm: "Are you sure you want to delete this nutrition plan? "}, class: 'btn btn-danger' %>
             </td>
            </tr>
          <% end %>
          <% end %>
      </tbody>
      </table>
      <%= link_to "Add Nutrition Plan!", new_user_nutrition_plan_path(current_user), class: 'btn btn-success' %>
    </div>
</div>