<br>
<h3 id= 'goals-align'>Goal Lists</h3><br>
<div class = 'row'>
  <div class= 'col-md-10 col-md-offset-1'>
    <table class = 'table table-hover table-bordered table-striped' >
      <tbody>
        <thead id= 'goals-th'>
          <th>Title:</th>
          <th>Start Date:</th>
          <th>End Date:</th>
          <th>Options:</th>
        </thead>
        <% if current_user %>
        <% goal_lists.each do |goal_list| %>
        <tr>
          <td><%= link_to goal_list.title, [@user, goal_list] %></td>
          <td><%= goal_list.start_date %></td>
          <td><%= goal_list.end_date %></td>
          <td>
            <%= link_to "Edit", edit_user_goal_list_path(@user, goal_list), class: 'btn btn-success'%>
            <%= link_to "Delete", user_goal_list_path(@user, goal_list), method: :delete, class: 'btn btn-danger' %>
          </td>
        </tr>
      </tbody>
      <% end %>
      <% end %>
    </table>
  </div>
</div>
<p id= 'goals-align'><%= link_to "+ New Goal List", new_user_goal_list_path(current_user), class: 'btn btn-success' %></p>