
 
<div class = "row">
   <div class="col-md-4">
     <p>Guidelines for Goals:</p>
     <ul>
       <li>Clearly define your goals.</li>
       <li>Hold yourself accountable.</li>
       <li>Make progress towards completion everyday.</li>
     </ul>
   </div>
   <div class="col-md-8">
      <% if current_user %>
       <%= form_for [current_user, @goal_list] do |f| %>
         <div class= "form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control', placeholder: 'Enter title:' %>
         </div>        
         <div class="form-group">
           <%= f.label :current_weight %>
           <%= f.number_field :current_weight, class: 'form-control' %>
         </div>
          <div class="form-group">
           <%= f.label :goal_weight %>
           <%= f.number_field :goal_weight, class: 'form-control' %>
         </div>
         <div class="form-group">
           <b>Start Date:</b> 
           <%= f.date_select :start_date, class: 'form-control' %>
         </div>
          <div class="form-group">
           <b>End Date:</b>
           <%= f.date_select :end_date, class: 'form-control' %>
         </div>
         <div class="form-group">
           <%= f.label :goal_one %>
           <%= f.text_area :goal_one, rows: 5, class: 'form-control', placeholder: "Enter your first goal here." %>
         </div>
         <div class="form-group">
           <%= f.label :goal_two %>
           <%= f.text_area :goal_two, rows: 5, class: 'form-control', placeholder: "Enter your second goal here." %>
         </div>
         <div class="form-group">
           <%= f.label :goal_three %>
           <%= f.text_area :goal_three, rows: 5, class: 'form-control', placeholder: "Enter your third goal here." %>
         </div>
         <div class="form-group">
           <%= f.label :goal_four %>
           <%= f.text_area :goal_four, rows: 5, class: 'form-control', placeholder: "Enter your fourth goal here." %>
         </div>
         <div class= "form-group">
         <%= f.submit "Save", class: 'btn btn-success' %>
       <% end %>  
       <% end %>
      </div>
   </div>
</div>