<div class= "row">
  <h1 id= 'center-align'><%= @goal_list.title %></h1>
</div>
<h5 id= 'center-align'><i>Mark as complete once finished:<i></h5>
<div class='js-goals-count' id= 'center-align'><%= pluralize(@user.goals.count, 'goal') %></div>
<br>
<div class= 'row'>
  <div class= 'col-md-2 col-md-offset-3'>
    <b>Start Date:</b><br>
    <%= @goal_list.start_date %>
  </div>
  <div class= 'col-md-2 col-md-offset-3'>
    <b>End Date:</b><br>
    <%= @goal_list.end_date %>
  </div>
</div>
<br>

      <div class = 'js-goals'>
        <%= render partial: "goals/goal", collection: @goals %>
      </div> 
      <div class = 'new-goal' id= 'center-align'>
        <%= render 'goals/form' %>
      </div> 
  






<div class= 'col-md-4 col-md-offset-4'>
    <b>Completion Status:</b>
  <div id='progressbar'></div> 
  <div id='percent'></div>
</div>
<br><br><hr> 
<p id= 'center-align'><%= link_to "Goal Lists", user_goal_lists_path, class: 'btn btn-info' %></p>




<script>
$(document).ready(function(){
   $('#progressbar').progressbar({   
        value: 0
    });
});

</script>