<h1 id= 'recip-show'><em><b><%= @recipe.title %></b></em></h1>
    <h4 id='recip-show'>Category: <%= @recipe.category %></h4>
    <h5 id='recip-show'> Author: <em><%= @user.name %></em></h5>
    <div class= "jumbotron">
      <div class= "row">
        <div class= "col-md-3">
          <%= image_tag(@recipe.food_pic.profile.url) if @recipe.food_pic? %>
        </div>
        <div class= "col-md-6">
          <b>Ingredients:</b> <br><%= @recipe.ingredients %><br><br>
          <b>Instructions:</b> <br><%= @recipe.instructions %><br><br>
        </div>
        <div class= "col-md-3"> 
           <%= link_to "Edit", edit_user_recipe_path ,class: 'btn btn-success'%>
           <%= link_to "Delete", user_recipe_path, method: :delete, data: {confirm: "Are you sure you want to delete this recipe? "}, class: 'btn btn-danger' %>
        </div>
      </div>
    </div>
     <p id='recip-show'><%= link_to "Recipes", user_recipes_path, class: 'btn btn-info' %></p>

