 <h1>Daily Requirements</h1>
 <h5><em> Click the box if the statement is true. Otherwise leave the box blank.</em> </h5><hr>
 <div class="row">
   
   <div class="col-md-8">
      <% if current_user %>
       <%= form_for [current_user, @tracker] do |f| %>
         <div class="form-group">
           <%#= f.date_select :day, class: 'form-control' %>
           <%= f.date_field :day, value: Date.today, disabled: true, class: 'form-control' %>
         </div>
         <div class="form-group">
          <b>Have you met all of your nutrition requirements for the day?: </b>
           <%= f.check_box :nutrition %>
         </div>
         <div class="form-group">
           <b>Have you completed your workouts for the day?: </b>
           <%= f.check_box :workout %>
         </div>
         <div class="form-group">
           <b>Have you made progress towards your weight loss/gains goals?: </b>
           <%= f.check_box :weight %>
         </div>
         <div class="form-group">
           <b>Have you made progress towards accomplishing your goals today?: </b>
           <%= f.check_box :goals %>
         </div>
         <div class="form-group">
           <b>Have you made progress towards your overall health and strength today?:</b>
           <%= f.check_box :health %>
         </div>
         <div class= "form-group">
         <%= f.submit "Save", class: 'btn btn-success' %>
       <% end %>  
      </div>
      <% end %>
   </div>
 </div>

 <script>
  $(document).ready(function() {
    $('#tracker_nutrition').on('click',function() {
      var point = $('<b> +1 </b>');
      $(this).closest('.form-group').append(point);
      $(this).hide();
    });
    $('#tracker_workout').on('click',function() {
      var point = $('<b> +1 </b>');
      $(this).closest('.form-group').append(point);
      $(this).hide();
    });
     $('#tracker_weight').on('click',function() {
      var point = $('<b> +1 </b>');
      $(this).closest('.form-group').append(point);
      $(this).hide();
    });
    $('#tracker_goals').on('click',function() {
      var point = $('<b> +1 </b>');
      $(this).closest('.form-group').append(point);
      $(this).hide();
    });
     $('#tracker_health').on('click',function() {
      var point = $('<b> +1 </b>');
      $(this).closest('.form-group').append(point);
      $(this).hide();
    });
  });

 </script>
